@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
}

/* 스크롤바 숨기기 */
.scrollbar-hide::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.scrollbar-hide {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}

@layer components {
	.gradient-2 {
		@apply bg-gradient-to-r from-[#D9E3FF] to-[#FFE4E0];
	}
	.gradient-1 {
		@apply bg-gradient-to-r from-[#3A6CFF] to-[#FFE4E0];
	}
}
