@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
}

/* 스크롤바 숨기기 */
.scrollbar-hide::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.scrollbar-hide {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
